body {
  background-color: black;
  font-family: Garamond;

}
h1 {
  color: white;
  /*padding-top: 2%;*/
  padding-left: 3%;
  padding-bottom:3%;
  font-size: 400%;
  font-family:monospace;
}
p {
  color: white;
  position: static;
  padding-left: 50%;

}

#RESUME{
    position: absolute;
    padding-left: 30%;
}

#menu{


}

canvas{
  position:absolute;
      left:0;
      top:0;
      size: 1000%;
      z-index:-1;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: dimGrey;
}

#menuTEXT{
  font-size: 500%;
  padding-top: 2%;
  padding-left: 3%;
  font-style: italic;
  font-family: Courier New;
  font-weight: 500;


}

ul{
  margin:2.5% 0 0 0;
}

body {
  /*background-image: url('smileyface2 (1).jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 45%;
  background-position: center;*/
}

#proscript
{
  position:absolute;
}

#power{
  padding-top: 1%;
  padding-left: 90%;
}
